<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  <!--  <link rel='stylesheet' href='../public/stylesheets/style.css' />-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/searchquery.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkJ-NrLc64hHMp2nDO770H1oJLz7tYg-8&libraries=places"></script>
    
<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="#" class="w3-bar-item w3-button w3-text-blue w3-hover-blue"><b><i class="fa fa-map-marker w3-margin-right"></i>TRIPEE</b></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-hover-blue w3-text-grey"><i class="fa fa-search"></i></a>
</div>
    
</head>

<body>
<!-- Header -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
<img class="w3-image" src="images/worldMapNight.jpg" alt="WorldMapNight" width="1500" height="700">
  <div class="w3-display-middle" style="width:65%">
    <div class="w3-bar w3-black">
    
     
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Flight');"><i class="fa fa-plane w3-margin-right"></i>Flight</button>
  	<button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'TripeeSearch');"><i class="fa fa-globe w3-margin-right"></i>Tripee us a Holiday</button>

<script type="text/javascript">
   function initialize() {
   
 	 var options = {
 	 types: ['(cities)'],
 	
 };
 	
      var input = document.getElementById('originOne');
      var input = document.getElementById('originTwo');
      var autocomplete = new google.maps.places.Autocomplete(originOne, options);
      var autocomplete = new google.maps.places.Autocomplete(originTwo, options);
   }
   
   
   google.maps.event.addDomListener(window, 'load', initialize);
   
</script> 


    <!-- Search TABS -->

  
<form name="FlightForm" id="FlightForm" class="w3-container w3-white w3-padding-16 myLink" action="/search">
      <h3>Organise your holiday with Tripee</h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <label>FROM</label>
         <input type='text' name='originOne' id='originOne' class="w3-input w3-border" placeholder="Departing from">
        </div>
        <div class="w3-half">
          <label>FROM</label>
          <input name='originTwo' id='originTwo' class="w3-input w3-border" type="text" placeholder="Departing from">
        </div>
      </div>
      <p><button type="submit" name="search"  id="search" class="w3-button w3-dark-grey">Search and find dates</button></p>
    </form>

    
	
  </body>
</html>
