<!DOCTYPE html>
<html>
  <head>

  <!--  <link rel='stylesheet' href='../public/stylesheets/style.css' />-->


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkJ-NrLc64hHMp2nDO770H1oJLz7tYg-8&libraries=places"></script>
    


<script type="text/javascript">

 $(document).ready(function(){
    $.get('/search', function(data){


        
       // var flightDepart= data.offerItems.services.segments.flightSegment.depature;
       // var flightArriv = data.offerItems.services.segments.flightSegment.arrival;


      // $.each(data.offeritems, function(i, f) {

       // var flightDepart= f;
    //    var flightArriv = f;
        

        $(data.offerItems, function(i){
            var flight = "<div>"+ i + "</div>"

        $(flight).appendTo("#flightData");
        })

       //   var tblRow = "<tr>" + "<td>" + data + "</td>" 


      //     $(tblRow).appendTo("#flightdata tbody");
     });

    })

</script>

<h2> search Results </h2>

   <table id= "flightdata" border="2">
  <thead>
            <th>departure</th>
            <th>arrival</th>
            <th>price</th>
            <th>City</th>
        </thead>
      <tbody>
      

       </tbody>
   </table>

<div id="flightData2"> </div>

</body>
</html>



