@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i");
body {
  background: #016FB9;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FAFAFA;
  margin: 0;
  padding: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  letter-spacing: .2px; }
  .header img {
    margin-left: 10px; }

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px; }
  .instructions p {
    width: 25%;
    text-align: center;
    font-size: .9em;
    color: #C0C0C0; }

.zipcodeInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 80px; }
  .zipcodeInput input {
    padding: 10px 170px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: #e8e8e8;
    padding-left: 10px;
    -webkit-box-shadow: 1px 1px 2px #333;
            box-shadow: 1px 1px 2px #333; }
  .zipcodeInput button {
    padding: 10px 18px;
    border-radius: 2px;
    margin-left: 4px;
    border: none;
    background: #EC4E20;
    color: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333; }

.radio-button-section {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.homeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px; }
  .homeBtn button {
    padding: 10px 22px;
    border-radius: 2px;
    margin-left: 4px;
    border: none;
    background: #a8a8a8;
    color: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333; }

.weatherCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #797979;
  margin-top: 100px; }
  .weatherCardContainer h4 {
    color: #a8a8a8; }
  .weatherCardContainer .weatherCard {
    min-height: 320px;
    min-width: 320px;
    background: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 20px; }
    .weatherCardContainer .weatherCard img {
      margin-top: 20px; }
    .weatherCardContainer .weatherCard .conditionsOverview {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      min-height: 350px; }
      .weatherCardContainer .weatherCard .conditionsOverview p:nth-child(1) {
        font-size: 2.5em;
        font-weight: bold;
        margin-top: -10px;
        margin-bottom: -10px; }
      .weatherCardContainer .weatherCard .conditionsOverview p:nth-child(2) {
        font-size: 1.2em; }
    .weatherCardContainer .weatherCard .conditionDetails {
      position: absolute;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 100%;
      margin-bottom: 20px;
      font-size: .9em;
      color: #595959; }
  .weatherCardContainer .weatherCardError {
    min-height: 320px;
    min-width: 320px;
    background: #FFF;
    -webkit-box-shadow: 1px 1px 4px #333;
            box-shadow: 1px 1px 4px #333;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .weatherCardContainer .weatherCardError p {
      width: 70%;
      text-align: center; }
    .weatherCardContainer .weatherCardError button {
      padding: 10px 22px;
      border-radius: 2px;
      margin-left: 4px;
      border: none;
      background: #EC4E20;
      color: #FFF;
      -webkit-box-shadow: 1px 1px 4px #333;
              box-shadow: 1px 1px 4px #333;
      margin-top: 20px; }

.loading {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .loading .loadingIcon {
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-animation: rotateLoading 1.5s ease-in-out infinite;
            animation: rotateLoading 1.5s ease-in-out infinite; }
@-webkit-keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
